manifest {
    homePage = 'https://vcs.eva.mpg.de/merlin_szymanski/database_nf'
    description = '''Pipeline that downloads the current NCBI/Refseq release 
    and creates the datastructure and files required by the sediment_nf pipeline'''
    version = '0.9'
    nextflowVersion = '>=20.04.0'
}

profiles {
    standard {
        process {
            conda = "$baseDir/envs/environment.yml"
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
    singularity{
        singularity.enabled = true
        process {
            container = 'merszym/sediment_nf:0.9.4.2'
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
    docker{
        docker.enabled = true
        process {
            container = 'merszym/sediment_nf:0.9.4.2'
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
}
conda {
    cacheDir = "$baseDir/conda/"
}

params.outdir = "out"
workDir = params.outdir + "/work/"

params.kmers = 22
