manifest {
    homePage = 'https://github.com/mpieva/quicksand-build'
    description = 'The quicksand helper-pipeline'
    version = 'v2.0'
    nextflowVersion = '>=22.10.0'
}

profiles {
    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }
    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    debug {
        cleanup                = false
    }
}

cleanup = true

process {
  errorStrategy = { task.exitStatus in [143,137,104,134,139, 140] ? 'retry' : 'finish' }
  maxRetries    = 3
  maxErrors     = '-1'
}


params.outdir = "out"
workDir = params.outdir + "/work/"

params.kmer = 22
params.exclude = 'None'
params.include = 'root'