manifest {
    homePage = 'https://vcs.eva.mpg.de/merlin_szymanski/database_nf'
    description = '''Pipeline that downloads the current NCBI/Refseq release 
    and creates the datastructure and files required by the sediment_nf pipeline'''
    version = '0.9'
    nextflowVersion = '>=20.04.0'
}
profiles {
    standard {
        process {
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
}
conda {
    cacheDir = "$baseDir/conda/"
}

params.outdir = "$baseDir/out"
workDir = params.outdir + "/work/"

params.kmers = ['22']
